[Corryvreckan]
detectors_file = geometries/detectors_tel_aligned3.geo
detectors_file_updated = geometries/detectors_dut_prealigned.geo
histogram_file = prealign_dut.root
log_format = DEFAULT
#log_level = DEBUG
number_of_tracks = -1
purge_output_directory = false
number_of_events = 200000

[EventLoaderEUDAQ2]
type = tlu
file_name = /home/testbeam/HVCMOS/maus_mpw3_20231014/eudaq/tlu_run000044.raw
 adjust_event_times=[["TluRawDataEvent", 0us, +125us]]
 shift_triggers = -1

[EventLoaderPCTMA]
config_directory = /home/testbeam/HVCMOS/maus_mpw3_20231014/tracker/
config_files = MPW3_20231014_global_00-000000_LocalHardware_00-000044.xml
data_directory = /home/testbeam/HVCMOS/maus_mpw3_20231014/tracker/

[EventLoaderEUDAQ2]
type = RD50_MPW3
name = RD50_MPW3_base_0
file_name = /home/testbeam/HVCMOS/maus_mpw3_20231014/eudaq/mpw3_run000044.raw
t0_skip_time = 800
ts_mode = TLU

[EventLoaderEUDAQ2]
type = RD50_MPW3
name = RD50_MPW3_piggy_0
file_name = /home/testbeam/HVCMOS/maus_mpw3_20231014/eudaq/mpw3_run000044.raw
t0_skip_time = 800
ts_mode = TLU
is_piggy = 1

[ClusteringSpatial]
type = RD50_MPW3

[Correlations]

[Prealignment]
type = RD50_MPW3
method = gauss_fit
time_cut_abs = 1000000s #tracker has no timestamps, basically deactivating time cuts
fit_range_rel = 20